<!DOCTYPE html>
<html lang="en">
<meta charset="UTF-8">
<link href="css/home.css" rel="stylesheet" type="text/css">
<head>
    <title>在线商城TTT</title>
</head>

<body>
<div id="app">
    <div class="top">
        <a>
            <img alt="图片" class="banner" height="200" src="/img/logo.jpg" width="20%">
            <img alt="图片" class="banner" height="200" src="/img/banner3.jpg" width="20%">
            <img alt="图片" class="banner" height="200" src="/img/slogan.jpg" width="10%">
            <img alt="图片" class="banner" height="200" src="/img/banner1.jpg" width="20%">
            <img alt="图片" class="banner" height="200" src="/img/banner2.jpg" width="20%">
        </a>

        <div class="header">
            <button @click="toExit" class="button">退出登录</button>
            <input  v-model="search" class="search-input" placeholder="请输入商品名进行搜索">
            <button @click="searchById" class="button">搜索</button>
            <button @click="toCart" class="button">进入购物车</button>
        </div>

        <template>
            <div class="list">
                <div :key="item.id" class="item" v-for="item in items">
                    <img :src="item.imgPath" alt="图片" class="image" height="400" width="400">
                    <div class="info">
                        <p class="name">{{ item.name }}</p>
                        <p class="number">剩余数量: {{ item.count }}</p>
                        <p class="price">价格: {{ item.price }}</p>
                        <button @click="addCart(item.id)" class="button">加入购物车</button>
                    </div>
                </div>
            </div>
        </template>
    </div>
</div>


<script charset="utf-8" src="vue.js" type="text/javascript"></script>
<script src="axios-0.18.0.js"></script>
<script>
    new Vue({
        el: '#app',
        data: {
            search: '',
            items: [],
        },
        created() {
            this.getAll()
        },
        methods: {
            getAll() {
                axios.get("/item").then((res) => {
                    this.items = res.data.data;
                    //console.log(res.data.data)
                })
            },
            searchById() {
                if (this.search !== "") {
                    axios.get("/item/" + this.search).then((res) => {
                        if (res.data.total === 0) {
                            alert("未找到任何商品！")
                        } else {
                            this.items = res.data.data;
                        }
                    })
                } else {
                    alert("搜索内容不能为空！")
                    axios.get("/item").then((res) => {
                        this.items = res.data.data;
                    })
                }
            },
            addCart(id) {
                //console.log(id)
                axios.get("/cart/" + id).then((res) => {
                    alert(res.data.data)
                }).catch(function (error) {
                    if (error.response.status === 400) {
                        alert("未登录，自动跳转到登录页面！")
                        window.location.href = 'login.html'
                    }
                });
            },
            toCart() {
                window.location.href = 'cart.html';
            },
            toExit() {
                window.location.href = 'login.html';
            },
        }
    });
</script>

</body>
</html>