<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type">
    <title>登录</title>
    <link href="css/login.css" rel="stylesheet" type="text/css">
    <link href="https://cdn.staticfile.org/font-awesome/4.7.0/css/font-awesome.css" rel="stylesheet">
</head>

<body>
<div id="app">
    <div id="bigBox">
        <h1>LOGIN</h1>
        <div class="inputBox">
            <div>
                <div class="inputText">
                    <i class="fa fa-user-circle" style="color: whitesmoke;"></i>
                    <input id="username" placeholder="账号" type="text" v-model="user.username"/>
                </div>
                <div class="inputText">
                    <i class="fa fa-key" style="color: whitesmoke;"></i>
                    <input id="password" placeholder="密码" type="password" v-model="user.password"/>
                </div>
                <!--                <input type="submit" class="Button" value="登录" onclick="check()"/>-->
                <button @click="handlegetById" class="Button">登录</button>
            </div>
            <input class="Button" onclick="toSignup()" type="submit" value="注册"/>
        </div>
    </div>
</div>
</body>

<!--<script>-->
<!--    // function check() {-->
<!--    //     var username = request.getParameter("username");-->
<!--    //     var password = request.getParameter("password");-->
<!--    //-->
<!--    //     request.getRequestDispatcher("home.html").forward(request, response);-->
<!--    // }-->
<!--    // 查找元素-->
<!--    function getValue(id) {-->
<!--        return document.getElementById(id).value;-->
<!--    }-->
<!--    function check() {-->
<!--        if(getValue('username') === "test" && getValue('password') === "111") {-->
<!--            return true;-->
<!--        }else {-->
<!--            alert("登录名或密码错误！");-->
<!--            location.href='login';-->
<!--            // 警告框-->
<!--            return false;-->
<!--        }-->
<!--    }-->

<!--</script>-->
<script charset="utf-8" src="vue.js" type="text/javascript"></script>
<script src="axios-0.18.0.js"></script>
<script>
    function toSignup() {
        location.href = 'signup';
    }

    const vue = new Vue({
        el: '#app',
        data: {
            user: {
                username: '',
                password: ''
            }
        },

        methods: {
            handlegetById() {
                axios.post('/user', this.user).then((res) => {
                    if (res.data.success) {
                        document.cookie = res.data.data;
                        if (res.data.errorMsg === '0') {
                            window.location.href = 'admin.html'
                        } else {
                            window.location.href = 'home.html'
                        }
                    } else {
                        alert(res.data.errorMsg);
                    }
                })
            }
        },
    });
</script>

</html>
