<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <title>注册</title>
    <link href="css/login.css" rel="stylesheet" type="text/css">
    <link href="https://cdn.staticfile.org/font-awesome/4.7.0/css/font-awesome.css" rel="stylesheet">
</head>

<body>
<div id="app">
    <div id="bigBox">
        <h1>SIGN UP</h1>
        <div class="inputBox">
            <div>
                <div class="inputText">
                    <i class="fa fa-user-circle" style="color: whitesmoke;"></i>
                    <input id="username" placeholder="账号" type="text" v-model="account.username"/>
                </div>
                <div class="inputText">
                    <i class="fa fa-key" style="color: whitesmoke;"></i>
                    <input id="password" placeholder="密码" type="password" v-model="account.password"/>
                </div>
                <div class="inputText">
                    <i class="fa fa-user-circle" style="color: whitesmoke;"></i>
                    <input id="email" placeholder="邮箱" type="text" v-model="account.email"/>
                </div>
                <input @click="handleAdd" class="Button" type="submit" value="注册"/>
            </div>
            <input class="Button" onclick="toLogin()" type="submit" value="登录"/>
        </div>
    </div>
</div>

</body>

<script charSet="utf-8" src="vue.js" type="text/javascript"></script>
<script src="axios-0.18.0.js"></script>

<script>

    function toLogin() {
        location.href = 'login';
    }

    const vue = new Vue({
        el: '#app',
        data: {
            account: {
                username: '',
                password: '',
                email: '',
                role: '1'
            }
        },
        methods: {
            handleAdd() {
                axios.put("/user", this.account).then((res) => {
                    if (res.data.success) {
                        window.location.href = 'login.html'
                    } else {
                        alert(res.data.errorMsg);
                    }
                })
            }
        },
    });
</script>

</html>