html{
    height: 100%;
}

body {
    height: 100%;
    background-color: white;
    margin:0;
    padding: 0;
    font-family: Arial,sans-serif;
}

#top {
    width: calc(100% - 40px);
    height: calc(100% - 40px);
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    float: left;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.search-input {
    flex-grow: 1;
    padding: 10px;
    border-radius: 5px;
}

.button {
    margin: 10px 10px;
    font-size:20px;
    padding: 8px 12px;
    background-image: linear-gradient(to right, #b8cbb8 0%, #b8cbb8 0%,#b465da 0%, #cf6cc9 33%, #ee609c 66%, #ee609c 100%);
    color: #dddddd;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.2s;
}


.list {
    margin: 10px 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.item {
    width: calc(25% - 30px);
    margin-bottom: 10px;
    background-color: #fff;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    overflow: hidden;
    transition: transform 0.2s;
}

.item:hover {
    transform: translateY(-5px);
}

.image {
    max-width: 100%;
    display: block;
    margin: 0 auto;
}

.info {
    text-align: center;
}

.name {
    font-size: 20px;
    font-weight: bold;
}

.price,
.number {
    font-size: 14px;
    color: #666;
}